nav, .help-button, .fixed-action-btn {
    display: none;
}
h1, h2, h3, h4, div {
    margin-top: 2px !important;    
    margin-bottom: 2px !important;    
    padding-top: 2px !important;    
    padding-bottom: 2px !important;   
}
h1 {
    font-size: 3rem; 
}
h3 {
    font-size: 2rem; 
}
h4 {
    font-size: 1.5rem; 
}